<h1>Results</h1>


<% @chefs.each do |chef| %>
<div class="card">
  [<%= chef.id %>]<%= chef.name %> <%= cl_image_tag(chef.photo) %> <div class="btn btn-primary btn-select" id="<%= chef.id %>">Select</div>
</div>
<% end %>


<form action="../requests/new">
  <input type="hidden" value="" name= "selected" id="hidden-selected">
  <button type="submit">Request</button>
</form>


<%= render 'shared/shortlist' %>

<script>
  const shortListBar = document.getElementById("shortlist");
  const selectBtns = document.querySelectorAll(".btn-select");
  const hiddenImput = document.getElementById("hidden-selected");
  const idArray = []
  // const list = document.getElementById("selected-chefs");

  const displaySelected = (imgPath) => {
    let item = `<div class="shortlist-avatar"><img src =${imgPath} width="50">
    </div>`
    shortListBar.insertAdjacentHTML("beforeend", item);
  };
  const removeSelected = (img) => {

  }

  selectBtns.forEach((btn) => {
    btn.addEventListener('click', (event) => {
      let btnTarget = event.currentTarget;
      if (btnTarget.classList.contains("disabled")) {
        btnTarget.classList.remove("disabled");
        idArray.pop(btnTarget.id);
        btnTarget.innerHtml = "Selected";
        removeSelected(event.target.parentElement.firstElementChild.src);
      }
      else {
        idArray.push(btnTarget.id);
        btnTarget.classList.add("disabled");
        btnTarget.innerHtml = "Select";
        displaySelected(event.target.parentElement.firstElementChild.src);
      }
      hiddenImput.value = idArray;
    });
  });

</script>



