<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-avatar">
      <img src="<%= @chef.photo %>">
    </div>
  </div>

  <div class="profile-name">
    <%= @chef.name %>
  </div>

  <div class="profile-description">
    <%= @chef.description %>
  </div>

  <div class="profile-headers">
    Availability
  </div>

  <div class="profile-days" id="daysScroll">
    <!-- Day begins -->
    <div class="day-container">
      <span>Mon 3rd</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Tue 4th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Wed 5th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Thu 6th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Fri 7th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Sat 8th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Sun 9th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Mon 10th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Tue 11th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>

    <!-- Day begins -->
    <div class="day-container">
      <span>Wed 12th</span>
      <div class="day">
        <div class="lunch"></div>
        <div class="dinner"></div>
      </div>
    </div>
  </div>

  <% if current_chef != @chef %>
    <%= render 'shared/request_form' %>
  <% end %>

  <div class="profile-reviews__title">Reviews</div>

  <% if @chef.reviews_chef.count == 0 %>

    <% if @chef.been_booked_by_restautant?(current_restaurant) %>

      <div class="reviews-none">
        <%= link_to "Be the first to review #{@chef.name}", new_chef_reviews_chef_path(@chef) %>
      </div>

    <% else %>

      <% if current_chef == @chef %>

        <div class="reviews-none">
          You have not been reviewed yet
        </div>

     <% else %>

        <div class="reviews-none">
          <%= @chef.name %> has not been reviewed yet
        </div>

      <% end %>

    <% end %>

  <% else %>

    <% if @chef.been_booked_by_restautant?(current_restaurant) %>

      <div class="reviews-none">
        <%= link_to "Leave a review for #{@chef.name}", new_chef_reviews_chef_path(@chef) %>
      </div>

    <% end %>

     <div class="reviews-container">
      <% @chef.reviews_chef.each do |rev| %>
        <!-- Start review -->
        <div class="review-row">
          <div class="review-top">
            <div class="left">
              <img src="http://res.cloudinary.com/dbaqcyzvv/image/upload/v1511801389/ob8ecwji0sxjo9pzeait.jpg" class="review-avatar">
            </div>
            <div class="right">
              Username<br>
              <%= rev.rating %>
            </div>
          </div>
          <div class="review-content">
            <%= rev.comment %>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>



  <%= render 'shared/request_form' %>


  <div class="submit-holder">
    <input type="submit" class="request-btn" value="Request">
  </div>

  <% if current_chef != @chef %>
    <div class="submit-holder">
      <input type="submit" class="request-btn" value="Request">
    </div>
  <% end %>


</div>

<script>
  var daysScroll = document.getElementById("daysScroll");
  daysScroll.scrollLeft += 50;
</script>
