<h1><%= @chef.name %> Page</h1>
<%= render 'shared/form_booking' %>
<%= @chef.reviewsChef %>
<%= link_to "Add review", new_chef_reviews_chef_path(@chef) %>
<%= @chef.reviewsChef.each do |reviewChef| %>
  <%= reviewChef.rating %>
  <%= reviewChef.comment %>
<% end %>
