<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-avatar">
      <img src="<%= @chef.photo %>">
    </div>
  </div>

  <div class="profile-name">
    <%= @chef.name %>
  </div>

  <div class="profile-rating">
    <%= @chef.avg_rating %>*****
  </div>

  <div class="profile-description">
    <%= @chef.description %>
  </div>

  <h2>Experience</h2>
  <div class="h2_underline"></div>
  <div class="experience">
    <div class="experience-bar">
      <div class="highlight"></div>
    </div>
  </div>
  <div class="experience-words">
    3 Years
  </div>

  <h2>Previously held positions</h2>
  <div class="h2_underline"></div>
  <div class="positions-container">
    <div class="row">
      Headchef at Sketch
    </div>
    <div class="row">
      Headchef at Sketch
    </div>
    <div class="row">
      Headchef at Sketch
  </div>

  <% if current_chef != @chef %>
    <%= render 'shared/request_form' %>
  <% end %>

  <div class="profile-reviews__title">Reviews</div>

  <% if @chef.reviews_chef.count == 0 %>

    <% if @chef.been_booked_by_restautant?(current_restaurant) %>

      <div class="reviews-none">
        <%= link_to "Be the first to review #{@chef.name}", new_chef_reviews_chef_path(@chef) %>
      </div>

    <% else %>

      <% if current_chef == @chef %>

        <div class="reviews-none">
          You have not been reviewed yet
        </div>

     <% else %>

        <div class="reviews-none">
          <%= @chef.name %> has not been reviewed yet
        </div>

      <% end %>

    <% end %>

  <% else %>

    <% if @chef.been_booked_by_restautant?(current_restaurant) %>

      <div class="reviews-none">
        <%= link_to "Leave a review for #{@chef.name}", new_chef_reviews_chef_path(@chef) %>
      </div>

    <% end %>

     <div class="reviews-container">
      <% @chef.reviews_chef.each do |rev| %>
        <!-- Start review -->
        <div class="review-row">
          <div class="review-top">
            <div class="left">
              <img src="http://res.cloudinary.com/dbaqcyzvv/image/upload/v1511801389/ob8ecwji0sxjo9pzeait.jpg" class="review-avatar">
            </div>
            <div class="right">
              Username<br>
              <%= rev.rating %>
            </div>
          </div>
          <div class="review-content">
            <%= rev.comment %>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>



  <%= render 'shared/request_form' %>


  <% if current_chef != @chef %>
    <div class="submit-holder">
      <input type="submit" class="request-btn" value="Request">
    </div>
  <% end %>


</div>

<script>
  var daysScroll = document.getElementById("daysScroll");
  daysScroll.scrollLeft += 50;
</script>
