<div class="conversation-container">
  <% if @conversations.count == 0 %>

    <div class="conversations-none">
      You have had a conversation yet
    </div>

  <% else %>

    <% @conversations.each do |conversation| %>

      <div class="conversation-wrapper">
                                  <!-- if thes no messages.last don't tried the next method -->
        <div class="last-date"><%= conversation.messages.last&.created_at&.strftime("%d/%m/%Y") || Date.today.strftime("%d/%m/%Y") %></div>
        <div class="left">
          <%= cl_image_tag conversation.chef.photo, height: 66, width: 66, crop: :fill, :gravity => :face %>
        </div>
        <div class="right">
          <div class="username"><%= conversation.chef.name %></div>
          <div class="last-message"><%= truncate(conversation.messages.order(created_at: :desc).first&.body || 'No messages yet!', :length => 100, :omission => '...') %></div>
        </div>
        <%= link_to "", conversation_path(conversation, :anchor => "bottom"), class: "conversation-link" %>
      </div>
      <div class="conversation-break"></div>

    <% end %>

  <% end %>
</div>
