<% recipient = current_chef ? @conversation.restaurant.name : @conversation.chef.name %>
<div class="message-container">

<h2>You're chatting with <%= recipient %></h2>

<div class="h2_underline"></div>

  <% @conversation.messages.each do |message| %>
    <% sender = current_chef ? current_chef : current_restaurant %>
    <% is_author = message.author == sender ? 'flex-reverse' : '' %>
    <div class="message-row <%= is_author %>">
      <div class="left">
        <%= cl_image_tag message.author.photo, height: 44, width: 44, crop: :fill, :gravity => :face %>
        <% message.author.name %>
      </div>
      <div class="right">
        <div class="top">
          <%= message.body %>
        </div>
        <div class="bottom">
          <%= time_ago_in_words(message.created_at).gsub('about','').capitalize %> ago
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="reply-container">
  <%= simple_form_for [@conversation, @message] do |f| %>
    <%= f.input :body, class: "chatbox", placeholder: "Say something!", input_html: { id: "chatbox" } %>
    <%= f.submit "Send", id: "sendButton" %>
  <% end %>
</div>

<script>
  var chatbox = document.getElementById("chatbox");
  var sendBtn = document.getElementById('sendButton');
  var chatboxContainer = document.querySelector('.reply-container')
  var heightLimit = 74; /* Maximum height: 200px */
  var maxHeightLimit = window.innerHeight / 3;
  chatbox.oninput = function() {
    chatboxContainer.style.height = null; /* Reset the height*/
    chatboxContainer.style.height = Math.min(Math.max(chatbox.scrollHeight + 30, heightLimit), maxHeightLimit) + "px";
    sendBtn.style.height = Math.min(Math.max(chatbox.scrollHeight + 30, heightLimit) - 30, maxHeightLimit - 30) + "px";
  };

  chatbox.addEventListener('keydown', function(event) {
    console.log(event.keyCode)
    if (event.keyCode == '13') {
      event.preventDefault();
      sendBtn.click();
    }
  })
</script>

<script>
  var myForm = document.getElementById('chatbox');

  myForm.addEventListener('submit', function () {
      var allInputs = myForm.getElementsByTagName('input');

      for (var i = 0; i < allInputs.length; i++) {
          var input = allInputs[i];

          if (input.name && !input.value) {
              input.name = '';
          }
      }
  })
</script>

<div id="bottom"></div>
