<h1>Conversation <%= @conversation.chef.name %> and <%= @conversation.restaurant.name %></h1>

<ul>
  <% @conversation.messages.each do |message| %>
    <li><%= message.body %> by <%= message.author.name %></li>
  <% end %>
</ul>

<%= simple_form_for [@conversation, @message] do |f| %>
  <%= f.input :body %>
  <%= f.submit %>
<% end %>
