<%= simple_form_for @chef do |f|%>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :experience %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <div class="submit-holder">
    <%= f.button :submit, "Save", class: "submit-btn" %>
  </div>
<% end %>
