<%= simple_form_for @chef do |f|%>
  <%= f.error_notification %>

   <div class="img-preview-container">
      <img id="img-preview" class="img-preview">
      <%# f.file_field :photo, id: "img-file", class: "img-button" %>
      <%# f.file_field :background_photo, id: "img-file", class: "img-button" %>
      <%= f.input :photo, type: :file %>
      <%= f.input :background_photo, type: :file %>
      <p>Upload your photo!</p>
    </div>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :experience, collection: ["Less than 1 year", "1 year", "2 years", "3 years or more"], prompt: "Experience in Years" %>
  <%= f.input :price %>
  <%= f.input :address %>
  <%= f.input :phone_number %>


  <div class="submit-holder">
    <%= f.button :submit, "Save", class: "submit-btn" %>
  </div>
<% end %>
<p>Your last experiences:</p>
<% @chef.positions.each do |position| %>
  <div></div>
  <p><%= position.title  %> at: <%= position.restaurant_name %></p>
  <%= link_to "remove", chef_position_path(@chef, position), method: :delete, class:"btn btn-primary" %>
<% end %>

 <div class="btn btn-primary" id="open-create">Add last experiences</div>
<div class="model-cover" id="model-cover">
  <div class="create-model">
    <%= render "shared/form_chef_position" %>
  </div>
  <div class="model-close" id="model-close">
    close button
  </div>
</div>


<% content_for :model do%>
  <script>
    $("#open-create").click(function(){
    var scrollTop = window.scrollY;
    $('#model-cover').css('top', scrollTop + "px");
    $('#model-cover').fadeToggle();
    $('body').css('overflow', 'hidden');
  });

  $("#model-close").click(function(){
    $('#model-cover').fadeToggle();
    $('body').css('overflow', 'scroll');
  });
  </script>
<% end %>
