  <p>Add Last Position</p>
  <%= simple_form_for ([@chef, @position]) do |p| %>
    <%= p.input :title,  collection: ["Executive Chef", "Head Chef", "Sous Chef", "Chef de Partie", "Commis Chef", "None of these"], prompt: "You've worked as..." %>
    <%= p.input :restaurant_name %>
    <%= p.input :description %>
    <%= p.input :start_date, as: :date, order: [:month, :year] %>
    <%= p.input :end_date, as: :date, order: [:month, :year] %>
    <%= p.button :submit, "Save", class: "submit-btn" %>
  <% end %>



