<nav>

  <div class="search-icon" id="searchMenuButton">
    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iOTczLjEyNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOTYwIDgzMkw3MTAuODc1IDU4Mi44NzVDNzQ2LjQzOCA1MjQuODEyIDc2OCA0NTcuMTU2IDc2OCAzODQgNzY4IDE3MS45NjkwMDAwMDAwMDAwNSA1OTYgMCAzODQgMCAxNzEuOTY5IDAgMCAxNzEuOTY5MDAwMDAwMDAwMDUgMCAzODRjMCAyMTIgMTcxLjk2OSAzODQgMzg0IDM4NCA3My4xNTYgMCAxNDAuODEyLTIxLjU2MiAxOTguODc1LTU3TDgzMiA5NjBjMTcuNSAxNy41IDQ2LjUgMTcuMzc1IDY0IDBsNjQtNjRDOTc3LjUgODc4LjUgOTc3LjUgODQ5LjUgOTYwIDgzMnpNMzg0IDY0MGMtMTQxLjM3NSAwLTI1Ni0xMTQuNjI1LTI1Ni0yNTZzMTE0LjYyNS0yNTYgMjU2LTI1NiAyNTYgMTE0LjYyNSAyNTYgMjU2UzUyNS4zNzUgNjQwIDM4NCA2NDB6Ii8+PC9zdmc+" width="20">
  </div>

  <%= link_to root_path do %>
    <div class="logo"></div>
  <% end %>

  <div class="avatar" id="userMenuButton">
    <img src="https://avatars1.githubusercontent.com/u/3418144?s=460&v=4" width="30">
  </div>


</nav>

<div class="user-menu" id="userMenu">
  <div class="close-btn" id="closeUserMenu"></div>
  <h1>Menu</h1>
  <div class="restaurant-menu-container">

    <% if restaurant_signed_in? %>
      <h2>My Restaurant</h2>
      <%= link_to "Dashboard", myrestaurant_path %>

      <%= link_to "Your Restauant", restaurant_path(current_restaurant) %>

      <%= link_to "Manage Restaurant", edit_restaurant_path(current_restaurant) %>

      <%= link_to "Bookings", restaurant_path(current_restaurant) %>

      <%= link_to('Sign out of Restaurant', destroy_restaurant_session_path, method: :delete) %>
    <% else %>

      <%= link_to('Sign in to Restaurant', new_restaurant_session_path) %>
      <%= link_to "Sign up as Restaurant", new_restaurant_registration_path %>

    <% end %>
  </div>

  <div class="chef-menu-container">
    <% if chef_signed_in? %>
      <h2>Chef</h2>

      <%= link_to "Dashboard", dashboard_path %>

      <%= link_to "Your Profile", chef_path(current_chef) %>

      <%= link_to "Manage Profile", edit_chef_path(current_chef) %>

      <%= link_to "Bookings", chef_path(current_chef) %>

      <%= link_to('Sign out of Chef', destroy_chef_session_path, method: :delete) %>

    <% else %>
      <div class="become-chef-container">
        <%= link_to "Become a Chef", new_chef_registration_path, class: "become-chef-btn" %>

        <%= link_to('Sign in as a Chef', new_chef_session_path, class: "chef-sign-in") %>
      </div>
    <% end %>
  </div>
</div>

<div class="search-menu" id="searchMenu">
  <div class="close-btn" id="closeSearchMenu"></div>
  <h1>Search</h1>
  </div>
</div>

<script>
   //USER MENU
  //Open user menu
  var userMenuButton = document.getElementById("userMenuButton");
  var userMenu = document.getElementById("userMenu")
  userMenuButton.addEventListener("click", function(){
    userMenu.style.left = 0;
    document.getElementsByTagName('body')[0].style = 'overflow: hidden';
  });

  //Close user menu
  var closeMenu = document.getElementById("closeUserMenu");
  closeUserMenu.addEventListener("click", function(){
    userMenu.style.left = "100vw";
    document.getElementsByTagName('body')[0].style = 'overflow: scroll';
  });

  //SEARCH MENU
  //Open search menu
  var searchMenuButton = document.getElementById("searchMenuButton");
  var searchMenu = document.getElementById("searchMenu")
  searchMenuButton.addEventListener("click", function(){
    searchMenu.style.right = 0;
    document.getElementsByTagName('body')[0].style = 'overflow: hidden';
  });

  //Close search menu
  var closeSearchMenu = document.getElementById("closeSearchMenu");
  closeSearchMenu.addEventListener("click", function(){
    searchMenu.style.right = "100vw";
    document.getElementsByTagName('body')[0].style = 'overflow: scroll';
  });
</script>
