<h1>Request Form</h1>
<%= simple_form_for @request do |f| %>
  <% if @request.errors.any? %>
    <% @request.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
  <%= f.input :date %>
  <%= f.input :start_hours, :as => :time, :minute_step => 15 %>
  <%= f.input :end_hours, :as => :time, :minute_step => 15 %>
  <%= f.input :chef_ids, :as => :hidden, :input_html => { :value => params[:selected]} %>
  <%= f.input :number_of_chefs %>
  <%= f.input :description %>
  <%= f.submit 'Create Booking' %>
<% end %>
