<h1>Booking Form</h1>
<%= simple_form_for @request do |f| %>
  <%= f.input :date %>
  <%= f.input :cost_pennies %>
  <%= f.input :start_hours %>
  <%= f.input :end_hours %>
  <%= f.input :chef_ids, :as => :hidden, :input_html => { :value => params[:selected]} %>
  <!-- <select multiple name="request[chef_ids][]">
    <%= @chefs.each do |chef_id| %>
      <option value=<%= chef_id.to_i %>><%= chef_id %></option>
    <% end %>
  </select> -->
  <%= f.input :number_of_chefs  %>
  <%= f.submit 'Create Booking' %>
<% end %>
