<div class="profile">
  <div class="">
   <%= cl_image_tag current_chef.photo, height: 250, width: 250, crop: :fill, class: "profile-photo"%>
   <h2><%= current_chef.name %> </h2>

   </div>
  </div>

<h1>Pending Requests</h1>

<ul>
  <% @requests.each do |request| %>
  <li>
    <p><%= request.id %> - <%= request.restaurant.name %> wants you for <%= request.shift %> and will pay <%= request.cost_pennies %></p>
    <%= link_to 'Accept', request_path(request), method: :delete %>
    <%= link_to 'Decline', request_path(request), method: :patch %>
    <%= link_to "Message", new_request_message_path(request) %>
  </li>
  <% end %>
</ul>

<h1>Accepted Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
  <li>
    <p><%= booking.id %> - <%= booking.restaurant.name %> wants you for <%= booking.shift %> and will pay <%= booking.cost_pennies %></p>
  </li>
  <% end %>
</ul>


