<div class="results-container">

<h2>Pending Requests</h2>
<div class="h2_underline"></div>

  <% @requests.each do |request| %>

      <%= link_to "", restaurant_path(request.restaurant.id), class: "dashboard-link" %>
      <div class="dash-card">
        <div class="dash-card__top">
          <div class="dash-avatar">
            <%= cl_image_tag request.restaurant.photo, height: 66, width: 66, crop: :fill %>
          </div>
          <div class="dash-card__right">
            <div class="top">
              <div class="left">
                <%= request.restaurant.name %>
              </div>
              <div class="right">
                £<%= request.cost[current_chef.id] %>
              </div>
            </div>
            <div class="middle">
              <div class="left">
                <div class="dash-card-rating">
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path class="filled" d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path class="filled" d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path class="filled" d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path class="filled" d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path class="filled" d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path class="filled" d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g >
                        <path d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="right">
                pending
              </div>
            </div>
            <div class="bottom">
              <div class="left">
                <%= request.start_hours&.strftime("%H:%M") %> until <%= request.end_hours&.strftime("%H:%M") %> on <%= request.date&.strftime("%d-%m-%Y") %>
              </div>
            </div>
          </div>
        </div>
        <div class="dash-buttons">
          <%= link_to 'Accept', request_path(request), method: :delete, class: "dash-50-button" %>
          <%= link_to 'Decline', request_path(request), method: :patch, class: "dash-50-cancel" %>
          <%= link_to "Message #{request.restaurant.name.capitalize}", conversation_path(Conversation.between(current_chef, request.restaurant)), class: "dash-50-chat" %>
        </div>
      </div>
  <% end %>


<h2>Accepted Bookings</h2>
<div class="h2_underline"></div>

   <% @bookings.each do |booking| %>

      <div class="dash-card">
        <div class="dash-card__top">
          <div class="dash-avatar">
            <%= cl_image_tag booking.restaurant.photo, height: 66, width: 66, crop: :fill %>
          </div>
          <div class="dash-card__right">
            <div class="top">
              <div class="left">
                <%= booking.restaurant.name %>
              </div>
              <div class="right">
                £<%= booking.cost %>
              </div>
            </div>
            <div class="middle">
              <div class="left">
                <div class="dash-card-rating">
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path class="filled" d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path class="filled" d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path class="filled" d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path class="filled" d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path class="filled" d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path class="filled" d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g >
                        <path d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                  <div class="star">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg enable-background="new 0 0 59.5 56.8" version="1.1" viewBox="0 0 59.5 56.8" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path d="m29.5 2.4c0.2-0.5 0.5-0.5 0.6 0l6 18.6c0.2 0.6 0.7 1 1.3 1h19.6c0.6 0 0.6 0.3 0.2 0.6l-15.8 11.5c-0.5 0.4-0.7 1-0.5 1.5l6.1 18.7c0.2 0.5-0.1 0.7-0.5 0.4l-15.9-11.6c-0.5-0.3-1.1-0.3-1.6 0l-15.9 11.6c-0.4 0.3-0.7 0.2-0.5-0.4l6.1-18.7c0.2-0.6 0-1.2-0.5-1.5l-15.9-11.5c-0.5-0.3-0.4-0.6 0.2-0.6h19.6c0.6 0 1.1-0.4 1.3-1l6.1-18.6z"/>
                        <path d="m12.7 56.8c-0.5 0-1-0.2-1.3-0.4-0.6-0.5-1.2-1.4-0.7-2.7l5.9-18.2-15.5-11.3c-1.1-0.8-1.2-1.9-1-2.7s1-1.6 2.4-1.6h19.1l5.9-18.2c0.5-1.2 1.5-1.7 2.3-1.7s1.8 0.5 2.2 1.8l5.9 18.2h19.1c1.4 0 2.1 0.8 2.4 1.5 0.2 0.7 0.1 1.8-1 2.7l-15.5 11.3 5.9 18.2c0.4 1.3-0.1 2.3-0.8 2.7-0.6 0.5-1.7 0.7-2.8-0.2l-15.4-11.2-15.5 11.3c-0.6 0.4-1.1 0.5-1.6 0.5zm1.8-1.9zm30.5 0zm2.6-1.9zm-40-29l11.7 8.5c1.2 0.9 1.6 2.4 1.3 3.7l-4.5 13.8 11.7-8.5c1.2-0.8 2.7-0.8 3.9-0.1l11.7 8.6-4.4-13.7c-0.4-1.4 0.1-2.9 1.2-3.7l11.7-8.6h-14.5c-1.4-0.1-2.6-1-3.1-2.4l-4.5-13.7-4.5 13.7c-0.5 1.4-1.7 2.3-3.1 2.4h-0.1-14.5zm23.8-21z"/>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="right">
                Accepted
              </div>
            </div>
            <div class="middle">
              <div class="left">
                <%= booking.start_hours&.strftime("%H:%M") %> until <%= booking.end_hours&.strftime("%H:%M") %> on <%= booking.date&.strftime("%d-%m-%Y") %>

              </div>
            </div>
          </div>
        </div>
        <div class="dash-buttons">
          <%= link_to "Message #{booking.restaurant.name.capitalize}", conversation_path(Conversation.between(booking.chef, booking.restaurant)), class: "dash-50-chat" %>
        </div>
      </div>

  <% end %>

</div>




