<h1>restaurant dashboard</h1>


<h1>Pending Requests</h1>

<ul>

  <% @requests.each do |request| %>
    <%= link_to 'cancel request', cancel_all_request_path(request), method: :patch %>

    <% request.chefs.each do |chef| %>
      <li><%= chef.name %></li>
        <%= link_to 'cancel chef', cancel_chef_request_path(request, chef: chef), method: :patch %>
      </li>
    <% end %>

  <% end %>

</ul>

<h1>Accepted Bookings</h1>

<ul>
  <% @bookings.where(status: 'unpaid').each do |unpaid_booking| %>
  <li>
    <p><%= unpaid_booking.id %> - <%= unpaid_booking.chef.name %> - <%= unpaid_booking.shift %></p>
    <%= link_to 'Pay', new_booking_payment_path(unpaid_booking) %> - <%= unpaid_booking.cost_pennies %>
  </li>
  <% end %>
</ul>

<ul>
  <% @bookings.where(status: 'paid').each do |paid_booking| %>
  <li>
    <p><%= paid_booking.id %> - <%= paid_booking.chef.name %> - <%= paid_booking.shift %> -  paid: <%= paid_booking.cost_pennies %></p>
  </li>
  <% end %>
</ul>
