<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Wechef</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <%= render 'shared/nav' %>
    <div id="content">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
